<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Everything Stays{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ calc_url('style.css') }}">
  </head>
  <body>
    <header>
      <a href="/">
        <h1>Everything Stays</h1>
        <p class="subtitle">Turning over an old, new leaf</p>
      </a>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
